<html>
  <head>
    <title>Éditer un potin</title>
  </head>
  <body>
    <h1>Éditer un potin</h1>
    <p>Édite ton potin via le formulaire ci-dessous</p>
    <form action='/gossips/new/' method='POST'>
      Réécris ton potin : <input value="<%= gossip.content %>" type='text' name='new_text'/>
      <input type='submit'/>
    </form>
  </body>
</html>