<html>
  <head>
    <title>Éditer un potin</title>
  </head>
  <body>
    <h1>Éditer un potin</h1>
    <p>Édite ton potin via le formulaire ci-dessous</p>
    <form action='/gossips/edit/<%= index_id %>' method='POST'>
      Balance ton blase : <input value="<%= gossip.author %>" type='text' name='update_author'/><br/>
      Réécris ton potin : <input value="<%= gossip.content %>" type='text' name='update_content'/>
      <input type='submit'/>
    </form>
  </body>
</html>